@model E5R.Product.WebSite.Data.Model.User

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<h1>Profile</h1>

<h3>Welcome @Model.UserName [@Model.Profile?.LastName, @Model.Profile?.FirstName]</h3>

<ul>
    <li><a asp-controller="Home">Home</a></li>
    <li><a asp-controller="Account" asp-action="SignOut">Sign out</a></li>
</ul>