@using E5R.Product.WebSite.Data.ViewModel
@using Microsoft.AspNet.Http;

@model ConfirmEmailViewModel

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<h1>E-mail confirmation</h1>

@if(Model.Confirmed)
{
    <p>
        Thank you <strong>@Model.FirstName</strong> for confirming your email.
    </p>
    <p>
        Now just wait for the assessment of its material and hope to receive your new E5R name!
    </p>
} else {
    <h3>Errors:</h3>
    <div asp-validation-summary="ValidationSummary.All" style="font-weight:bold"></div>
}