@using E5R.Product.WebSite.Data.ViewModel
@using Microsoft.AspNet.Http;

@model SignUpViewModel

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<h1>SignUp</h1>
@using (Html.BeginForm("SignUp", "Account", new { }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ValidationSummary.All" style="font-weight:bold"></div>
    
    <fieldset>
        <legend>Personal</legend>
        
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" style="color:red"></span>
        
        <br />
        
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" style="color:red"></span>
        
        <br />
        
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color:red"></span>
    </fieldset>
    
    <fieldset>
        <legend>Team registration</legend>
        
        <label asp-for="MyAnswer"></label>
        <br />
        <textarea asp-for="MyAnswer"></textarea>
        <br />
        <span asp-validation-for="MyAnswer" style="color:red"></span>
        
        <br />
        
        <label asp-for="MyLinks"></label> <span>(1 link per line)</span>
        <br />
        <textarea asp-for="MyLinks"></textarea>
        <br />
        <span asp-validation-for="MyLinks" style="color:red"></span>
    </fieldset>
    
    <fieldset>
        <legend>Access</legend>
        
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" style="color:red"></span>
        
        <br />
        
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" style="color:red"></span>
        
        <br />
    </fieldset>

    <button type="submit">Sign up</button>
}
