@using E5R.Product.WebSite.Data.ViewModel
@using Microsoft.AspNet.Http;

@model SignInViewModel

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<h1>SignIn</h1>
@using (Html.BeginForm("SignIn", "Account", new { UrlReturn = ViewBag.UrlReturn }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ValidationSummary.All" style="font-weight:bold"></div>
    
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName" style="color:red"></span>
    
    <br />
    
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" style="color:red"></span>
    
    <br />
    
    <label asp-for="RememberMe"></label>
    <input asp-for="RememberMe" />
    
    <br />
    
    <button type="submit">Sign in</button>
}
