@using Microsoft.AspNet.Http;

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<p>
    Thank you <strong>@ViewBag.NickName.ToUpper()</strong> for registering. Please check your e-mail to confirm your account.
</p>