@using System.Security.Claims

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<h1>Welcome home page</h1>

<ul>
@if (User.IsSignedIn())
{
    <li><a asp-controller="Profile">Profile (@User.GetUserName())</a></li>
    <li><a asp-controller="Account" asp-action="SignOut">Sign out</a></li>
} else {
    <li><a asp-controller="Account" asp-action="SignIn">Sign in</a></li>
    <li><a asp-controller="Account" asp-action="SignUp">Sign up</a></li>
}
</ul>
